body {font-family: Arial, Helvetica, sans-serif;
    }
* {box-sizing: border-box;}
input[type=submit] {
background-color: #212e22;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #4e71d3;
}


nav{
text-align:right;
background-color:skyblue;
height:380px;
padding:0;
position: relative;
}
li a{
color:black;
text-decoration: none;
}
li a:hover {
color: rgb(15, 15, 44);
font-size:25px;
}
span{
    padding-left: 644px;
}
		main{
      background-image: url(mac.jpg);
      background-size: cover;
            margin-top: 0em;
            padding-top: 0em;
            width: 100%;
            height: 700px;


		}
main h1{
	padding-top: 204px;
	color: white;
	font-size: 54px;
	float: center;
}
main p{
	color: white;
	font-size: 34px;
}
		footer{
			 background-color: grey;
             text-align: center;
             color: honeydew;
             position: fixed;
             bottom: 0; 
             width: 100%;
		}
/*top navigation */
        .topnav {
  padding: 0;
}

.container {
  width: 60%;
  margin-right: 0px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  }
  h3{
   text-align: center;
  }

  input[type=text],[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
 .social{
  width: 38%; 
  height: 373px;
  padding-top: 23px;
  padding-right: 34px;

 }   
 .social label{
  padding-top: 54px;
}
.social label a{
  font-size: 22px;
}